In [32]:
import pandas as pd
import numpy as np
from pprint import pprint

In [33]:
flights_df = pd.read_csv("flights.csv")
airlines_df = pd.read_csv("airlines.csv")
airports_df = pd.read_csv("airports.csv")

C:\Users\uulka\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
combined_df = pd.merge(flights_df, airlines_df, left_on='AIRLINE', right_on='IATA_CODE')
combined_df = pd.merge(combined_df, airports_df, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE')

In [4]:
combined_df = combined_df[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'LATITUDE', 'LONGITUDE', 'CITY', 'STATE', 'COUNTRY', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_TIME', 'SCHEDULED_ARRIVAL', 'DISTANCE', 'ARRIVAL_DELAY', 'DEPARTURE_DELAY']]
correlated_df = combined_df[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'LATITUDE', 'LONGITUDE', 'CITY', 'STATE', 'COUNTRY', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'SCHEDULED_TIME', 'SCHEDULED_ARRIVAL', 'DISTANCE', 'ARRIVAL_DELAY']]

In [5]:
corr_matrix = correlated_df.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]

In [6]:
to_drop

['DEPARTURE_TIME', 'DISTANCE']

In [7]:
combined_df = combined_df.drop('DEPARTURE_TIME', axis=1)
combined_df = combined_df.drop('DISTANCE', axis=1)
combined_df = combined_df.drop('YEAR', axis=1)
combined_df.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,ORIGIN_AIRPORT,LATITUDE,LONGITUDE,CITY,STATE,COUNTRY,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DEPARTURE_DELAY
0,1,1,4,AS,98,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,5,205.0,430,-22.0,-11.0
1,1,1,4,AS,108,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,45,204.0,509,-14.0,-4.0
2,1,1,4,AS,122,ANC,61.17432,-149.99619,Anchorage,AK,USA,PDX,50,215.0,525,-18.0,-4.0
3,1,1,4,AS,136,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,135,205.0,600,NaN,NaN
4,1,1,4,AS,134,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,155,218.0,633,-35.0,-15.0

In [8]:
combined_df['DEPARTURE_DELAY'] = np.where(combined_df['DEPARTURE_DELAY'] > 0, 1, 0).astype('int')

In [9]:
combined_df.head(10)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,ORIGIN_AIRPORT,LATITUDE,LONGITUDE,CITY,STATE,COUNTRY,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DEPARTURE_DELAY
0,1,1,4,AS,98,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,5,205.0,430,-22.0,0
1,1,1,4,AS,108,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,45,204.0,509,-14.0,0
2,1,1,4,AS,122,ANC,61.17432,-149.99619,Anchorage,AK,USA,PDX,50,215.0,525,-18.0,0
3,1,1,4,AS,136,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,135,205.0,600,NaN,0
4,1,1,4,AS,134,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,155,218.0,633,-35.0,0
5,1,1,4,AS,144,ANC,61.17432,-149.99619,Anchorage,AK,USA,PDX,200,210.0,630,-11.0,0
6,1,1,4,AS,114,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,220,200.0,640,-12.0,0
7,1,1,4,AS,730,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,505,205.0,930,-14.0,0
8,1,1,4,AS,157,ANC,61.17432,-149.99619,Anchorage,AK,USA,OTZ,630,102.0,812,-10.0,0
9,1,1,4,AS,112,ANC,61.17432,-149.99619,Anchorage,AK,USA,SEA,700,210.0,1130,-15.0,0

In [10]:
combined_df = combined_df.dropna()

In [11]:
'''Reduce dataset to 25% due to memory errors'''

combined_df = combined_df.sample(frac=0.025, replace=True, random_state=1)

In [12]:
combined_df = pd.get_dummies(combined_df)

In [37]:
combined_df.head()

,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,LATITUDE,LONGITUDE,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,...,DESTINATION_AIRPORT_TYS,DESTINATION_AIRPORT_UST,DESTINATION_AIRPORT_VEL,DESTINATION_AIRPORT_VLD,DESTINATION_AIRPORT_VPS,DESTINATION_AIRPORT_WRG,DESTINATION_AIRPORT_WYS,DESTINATION_AIRPORT_XNA,DESTINATION_AIRPORT_YAK,DESTINATION_AIRPORT_YUM
4400614,1,18,7,1103,41.41089,-81.84940,1930,115.0,2125,61.0,...,0,0,0,0,0,0,0,0,0,0
4772608,5,16,6,762,41.78598,-87.75242,1759,120.0,2059,-18.0,...,0,0,0,0,0,0,0,0,0,0
4008127,4,21,2,1208,40.77724,-73.87261,1425,155.0,1600,-16.0,...,0,0,0,0,0,0,0,0,0,0
496246,5,21,4,4660,33.43417,-112.00806,925,95.0,1100,-4.0,...,0,0,0,0,0,0,0,0,0,0
5130170,12,9,3,4723,33.81772,-118.15161,1822,109.0,2111,-9.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
X = combined_df.drop('DEPARTURE_DELAY', axis=1)
y = combined_df['DEPARTURE_DELAY']

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.8098532623114757
Testing Data Score: 0.810996142778424

In [18]:
predictions = model.predict(X_test)
overallresults = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
overallresults

         Prediction  Actual
1868081           0       0
4235620           0       0
380286            0       1
173910            0       0
3179509           0       0
2580654           0       0
3938406           0       0
1747421           0       1
3931336           0       0
5226649           0       0
80244             0       1
2465057           1       0
3863643           1       1
4834316           1       1
2168891           1       1
2264193           0       1
3526895           0       0
4356935           1       1
773988            1       1
4504195           1       1
4025761           0       0
1397013           0       1
742543            1       1
2017572           0       0
4902754           0       0
3577399           1       1
1848604           0       0
264057            0       0
1828614           0       0
1781344           1       1
...             ...     ...
3507771           1       1
2182762           0       0
2405436           0       0
1788636           0       1
4793725           0       0
3794515           0       0
1667759           0       1
4212082           0       0
4219462           0       0
112228            0       0
4366446           1       0
2640874           1       1
5310972           0       0
3230320           0       0
3993158           0       0
3682617           1       0
4630463           0       0
1192102           0       0
2910376           0       1
3144357           1       1
4475303           0       0
1815952           0       1
613251            0       0
2015044           0       0
4688195           0       0
3695921           0       0
3870615           0       0
4494707           0       0
409776            1       1
204098            0       0

[32666 rows x 2 columns]

In [19]:
'''Based on model, there is a 65% chance of predicting an accurate result for a delayed flight'''

delayedresults = overallresults[overallresults['Actual'] == 1]
delayedbalance = delayedresults['Prediction'].sum() / len(delayedresults)
delayedbalance

0.6358832615234534

In [20]:
'''Save model'''

import pickle

filename = 'predictingflightdelays.sav'
pickle.dump(model, open(filename, 'wb'))
loaded_model = pickle.load(open(filename, 'rb'))

In [21]:
result = loaded_model.score(X_test, y_test)
print(result)

0.810996142778424

In [50]:



testingdata1=combined_df.drop('DEPARTURE_DELAY',axis=1).head(1)
testingdata2=combined_df.drop('DEPARTURE_DELAY',axis=1).head(15)
testingdata3=combined_df.drop('DEPARTURE_DELAY',axis=1).head(10)

In [51]:
testingdata1.to_csv('testingdata1.csv',index=False)
testingdata2.to_csv('testingdata2.csv',index=False)
testingdata3.to_csv('testingdata.csv',index=False)

In [52]:
testingdata2

,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,LATITUDE,LONGITUDE,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,...,DESTINATION_AIRPORT_TYS,DESTINATION_AIRPORT_UST,DESTINATION_AIRPORT_VEL,DESTINATION_AIRPORT_VLD,DESTINATION_AIRPORT_VPS,DESTINATION_AIRPORT_WRG,DESTINATION_AIRPORT_WYS,DESTINATION_AIRPORT_XNA,DESTINATION_AIRPORT_YAK,DESTINATION_AIRPORT_YUM
4400614,1,18,7,1103,41.41089,-81.84940,1930,115.0,2125,61.0,...,0,0,0,0,0,0,0,0,0,0
4772608,5,16,6,762,41.78598,-87.75242,1759,120.0,2059,-18.0,...,0,0,0,0,0,0,0,0,0,0
4008127,4,21,2,1208,40.77724,-73.87261,1425,155.0,1600,-16.0,...,0,0,0,0,0,0,0,0,0,0
496246,5,21,4,4660,33.43417,-112.00806,925,95.0,1100,-4.0,...,0,0,0,0,0,0,0,0,0,0
5130170,12,9,3,4723,33.81772,-118.15161,1822,109.0,2111,-9.0,...,0,0,0,0,0,0,0,0,0,0
4344563,9,9,3,1581,41.93887,-72.68323,1815,80.0,1935,28.0,...,0,0,0,0,0,0,0,0,0,0
1179387,1,11,7,327,40.69250,-74.16866,1615,173.0,1908,-14.0,...,0,0,0,0,0,0,0,0,0,0
2367591,1,30,5,1204,42.21206,-83.34884,1745,105.0,1930,-13.0,...,0,0,0,0,0,0,0,0,0,0
418091,2,20,5,2027,33.43417,-112.00806,1950,186.0,2356,-12.0,...,0,0,0,0,0,0,0,0,0,0
3117434,7,6,1,1419,33.64044,-84.42694,1750,160.0,2030,-7.0,...,0,0,0,0,0,0,0,0,0,0
5221778,6,5,5,3283,41.44853,-90.50754,1416,129.0,1625,30.0,...,0,0,0,0,0,0,0,0,0,0
1231548,2,27,5,433,44.88055,-93.21692,730,226.0,1016,7.0,...,0,0,0,0,0,0,0,0,0,0
2657506,12,16,3,1883,39.17540,-76.66820,2110,120.0,2210,-1.0,...,0,0,0,0,0,0,0,0,0,0
3378634,4,29,3,854,27.97547,-82.53325,1255,170.0,1545,-20.0,...,0,0,0,0,0,0,0,0,0,0
4859111,1,8,4,1985,32.84711,-96.85177,1010,55.0,1105,10.0,...,0,0,0,0,0,0,0,0,0,0